/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #f4f4f4;
    color: #fff;
}

/* Хедер */
header {
    position: relative;
}

.hero {
    background: url('https://images.unsplash.com/photo-1645549047893-b0c6447aec2b?q=80&w=1974&auto=format&fit=crop') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .overlay {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
}

.hero h1 {
    font-size: 4em;
    color: #fff;
}

.hero p {
    font-size: 1.5em;
    margin-top: 10px;
}

.btn {
    background-color: #FF6600;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #e55b00;
}

/* Секционные стили */
section {
    padding: 60px 20px;
    text-align: center;
}

#about {
    background-color: #2c2c2c;
}

#services {
    background-color: #1a1a1a;
}

#contact {
    background-color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Футер */
footer {
    background-color: #1a1a1a;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 1.2em;
}


